@use "vars" as *;

:root {
    color-scheme:light dark;
}
  
.fg {
    color: light-dark($color-light, $color-dark);
}
.bg {
    background-color: light-dark($bg-color-light, $bg-color-dark);
}
pre, code {
    color: light-dark($color-dark-green, $color-light-green);
}
.list-frame {
    background-color: light-dark($white, $gray4);
    color: light-dark($color-light, $color-dark);
}
