@use "vars" as *;

.display-none {
    display:none;
}
.w120 {
    width:120px;
}


.list-frame {
    position:absolute;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index:1;
    margin: 1px;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    max-height: 160px;
    overflow-y: scroll;
    font-size: $fs-80;
}

.fc {
    padding: 1em 0;
    height:64px;
    position:relative;
}

.show {
    display: block;
    overflow: hidden;
    padding: 0 4px;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-radius:4px;
    cursor: pointer;
}
.show:hover,.show:focus {
    background-color: $sel-hover;
    color: $color-dark;
}