@use "vars" as *;

input[type=submit].removeDefaults {
    border:none;
    background: none;
}
  
.range {
    appearance: none;
    height: 16px;
    background: transparent;
    background-image: url("../img/pfeil.webp");
    background-size: cover;
    outline: none;
}

.range::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background-image: url('../img/speaker.webp');
    background-size:cover;
}

.range::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background-image: url('../img/speaker.webp');
    background-size:cover;
}

#show-vol {
    padding-left: 3em;
    font-size: $fs-80;
}
