@use "vars" as *;
@use "color-scheme";
@use "device-width";
@use "menu";
@use "img-container";
@use "volume";
@use "keyboard";
@use "record";
@use "modal";
@use "datalist";

* {
  box-sizing:border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.codec {
  margin: 2em;
}

.opacity-40 {
  opacity: $opacity40;

}

.block {
  display:block;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding-top: 1em;
}


.flex-v {
  display:flex;
  flex-direction: column;
}

.w100 {
  width:100%;
}


.m2 {
  margin: 0 2px;
}
.mt4 {
  margin-top:4px;
}
.fs-60 {
  font-size: $fs-60;
}
.fs-70 {
  font-size: $fs-70;
}
.fs-80 {
  font-size: $fs-80;
}
.fright {
  float: right;
}

#url {
  visibility: hidden;
  text-align:right;
}

.pointer {
  cursor: pointer;
}

.p4 {
  padding: 4px;
}

.btnSubmit {
    display:block;
    width: 120px;
    margin: 4px auto;
}

.bd {
  border:.2px solid #aaa;
  border-radius: 2px;
}

h1{
  font-size:$fs-110;
}
h2{
  font-size: $fs-90;
}
p {
  font-size: $fs-90;
}

.tableImport{
  border-collapse: collapse;
  font-size: $fs-80;
  .value {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1em;
  }
}

.w120 {
  width: $w120;
}
.w240 {
  min-width: $w120;
  max-width: $w240;
}

.warn {
  color: $color-warn;
  background-color: $background-warn;
  padding: 0 4px;
  border-radius: 4px;
}

.coverContent {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: $modal-bg;
  opacity: $opacity40;
  z-index: 10;
}

.pushOver {
  position:relative;
  z-index: 12;
}