@use "vars" as *;

#keyboard {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: right;
    height: 96px;
    padding: 8px 8px 0 0;
    border-radius: 0 0 6px 6px;
  }
  
  .key-wrapper {
    position: relative;
    font-size:$fs-60;
  }
  
  
  .key-wrapper .key-caption {
    display: block;
    overflow: hidden;
    text-align: center;
    height: 50px;
  }
  
  .klbl {
    position: absolute;
    cursor: pointer;
    top: 40%;
    width: 70%;
    left:15%;
    aspect-ratio: 1;
    border-radius: 30px;
    background-image: url("../img/key.webp");
    background-size: cover;
  }
  
  .key:checked + label .klbl {
    background-image: url("../img/key-checked.webp");
    background-size: cover;
  }
