@use "vars" as *;

#menu-icon {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 8px;
    width:8%;
    max-width: 40px;
    font-size:48px;
    cursor: pointer;
}
#menuImg {
    width:102%;
    display: block;
}

.shadow {
  box-shadow: 4px 8px 4px 0 rgba(0,0,0,.5);
}

.grayscale {
    filter: grayscale(100%);
}

.a {
  text-decoration: none;
  padding: 2px;
}
.a:hover {
  text-decoration: underline;
}

.opacity-40 {
  opacity: $opacity40;
}
.imgPos{
  position: absolute;
  top:0;
  left: 0;
}
#menu-items {
  position:absolute;
  z-index:2;
  top:4px;
  left:48px;
  height:0;
  overflow:hidden;
  display: block;
  padding: .5em;
  font-size: $fs-80;
  border-radius: 4px;
  box-shadow: $key-label-shadow;
  transition: .2s;
  opacity: 0;
}
.opacity-90 {
  transition: .2s;
  opacity: $opacity90 !important;
}

.hidden {
  visibility: hidden;
  display:none;
}

.dlg-img {
  background-color: #fff3bfc3;
  width:40%;
  margin:48px auto;
  aspect-ratio: 2.4;
  display:block;
  border-radius:8px;
}

.dragover {
  background-color: #bf5 !important;
}

.center {
  text-align:center;
}

#btnExport {
  background-image: url("../img/export.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

#drop {
  background-image: url("../img/import.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

