@use "vars" as *;

.modal-dlg {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bg;
  opacity: $opacity95;
}

.modal-content {
  top: 3em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 4px;
  max-height:90vh;
  overflow-y:scroll;
}

.modal-content .btn {
  margin: 0 2em;
}

.closeD {
  margin-left: 16px;
  cursor:pointer;
}

.closeX {
  position: absolute;
  font-size: 48px;
  right: 16px;
  top:0;
}

.tableImport{
  border-collapse: collapse;
  font-size: $fs-80;
  .value {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1em;
  }
}

input[type=submit].removeDefaults {
  border:none;
  background: none;
}

.warn {
  color: $color-warn;
  background-color: $background-warn;
  padding: 0 4px;
  border-radius: 4px;
}

h1{
  font-size:$fs-110;
}
h2{
  font-size: $fs-90;
}