@use "vars" as *;

.record {
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 56px;
    width:8%;
    max-width: 40px;
}
#img-record {
    width:100%;
    display:block;
    cursor: pointer;
}

#recCaption {
    position:absolute;
    top:0;
    left: 48px;
    color:#ff3;
    text-shadow: 2px 2px 5px #000;
}